@model IEnumerable<Recetario.Areas.Administradores.Models.VActor>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Administradores</h1>

<p>
    <a asp-action="Agregar">Nuevo</a>
</p>
<form asp-action="index" method="get">
    Buscar: <input type="text" value="@ViewData["FiltroActual"]" name="cadenaBusqueda"  />&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="submit" value="Buscar" class="btn btn-primary" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreActor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contrasena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreActor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contrasena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="Editar" asp-route-id="@item.IdActor">Editar</a> |
                <a asp-action="Detalles" asp-route-id="@item.IdActor">Detalles</a> |
                <a asp-action="Eliminar" asp-route-id="@item.IdActor">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
