@model IEnumerable<Recetario.BaseDatos.Receta>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProcentajePromedio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TiempoPrep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActorIdActorNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProcentajePromedio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TiempoPrep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActorIdActorNavigation.NombreActor)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
