
@model Recetario.Areas.Usuarios.Models.RecetaModelo
@using Microsoft.AspNetCore.Identity
@using Recetario.BaseDatos
@using System.Security.Claims;

@inject SignInManager<Actor> SignInManager
@inject UserManager<Actor> UserManager

@{
    ViewData["Title"] = Model.Receta.Nombre;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@Model.Receta.Nombre</h1><h6>Compartida Por @Model.Receta.usuario.Usuario</h6>
@{  bool esCreador = false;
    if (User.Identity.IsAuthenticated) {
        esCreador = UserManager.GetUserId(User).Equals(Model.Receta.usuario.IdUsuario.ToString());
    }
}
@if (esCreador)
{
    @:
    <a class="nav-link text-dark" asp-route-id="@Model.Receta.IdReceta" asp-area="Usuarios" asp-controller="Recetas" asp-action="Editar" title="Editar Receta">Editar</a>
    <a class="nav-link text-dark" asp-route-id="@Model.Receta.IdReceta" asp-area="Usuarios" asp-controller="Recetas" asp-action="Delete" title="Eliminar Receta">Eliminar</a>
    <br />
}
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            @if (!esCreador)
            {
                @: <u>Califica esta receta</u>:
                <a asp-route-IdReceta="@Model.Receta.IdReceta" asp-route-valor="true" asp-area="Usuarios" asp-controller="Recetas" asp-action="CalificarReceta" title="Calificar">
                    <img src="@Url.Content(Model.ManoArriba)" alt="Image" style="height:50px;width:50px;" />
                </a>
                <a asp-route-IdReceta="@Model.Receta.IdReceta" asp-route-valor="false" asp-area="Usuarios" asp-controller="Recetas" asp-action="CalificarReceta" title="Calificar">
                    <img src="@Url.Content(Model.ManoAbajo)" alt="Image" style="height:50px;width:50px;" />
                </a>
                <br/>
                if (!Model.Visualizar.PorCocinar)
                {
                    <a asp-route-IdReceta="@Model.Receta.IdReceta" asp-route-valor="true" asp-area="Usuarios" asp-controller="Recetas" asp-action="CocinarDespues" title="Pediente">
                        <u> Agregar a Cocinar Después</u>
                    </a>
                }
                else
                {
                    <a asp-route-IdReceta="@Model.Receta.IdReceta" asp-route-valor="false" asp-area="Usuarios" asp-controller="Recetas" asp-action="CocinarDespues" title="Pediente">
                        <u> Eliminar de Cocinar Después</u>
                    </a>
                }
            }
        </div>
        <div class="form-group">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                Tiempo de preparación: @Model.Receta.TiempoPrep
            </div>
            <div class="form-group">
                Ingredientes:<br/> @Model.Receta.Ingredientes
            </div>
            @if (!esCreador)
            {
                if (User.Identity.IsAuthenticated)
                {
                    @:
                    <div class="form-group">
                        <u><a class="nav-link text-dark" onclick="alert('Se enviará un email con los ingredientes a @UserManager.FindByNameAsync(UserManager.GetUserName(User)).Result.Email')" asp-route-IdReceta="@Model.Receta.IdReceta" asp-area="Usuarios" asp-controller="Recetas" asp-action="EnviarIngredientes" title="Enviar">Enviar Ingredientes a Email</a></u>
                    </div>
                }
                else
                {
                    @:
                    <div class="form-group">
                        <u><a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Ingresa para Enviar Ingredientes a tu Email</a></u>
                    </div>
                }
            }
            <div class="form-group">
                Etiquetas: @Model.Receta.Etiquetas
            </div>
            @foreach (var paso in Model.Receta.Pasos)
            {
                @:Paso @paso.NoPaso <br />
                <table>
                    <tr>
                        <td>@paso.Texto</td>
                        @if (paso.TiempoTemporizador != null)
                        {
                            <td>@paso.TiempoTemporizador</td>
                        }
                    </tr>
                </table>
                <br />
            }
        </div>
    </div>
</div>

