
@model Recetario.Models.RecetaDTO

@{
    ViewData["Title"] = Model.Nombre;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@Model.Nombre</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            Tiempo de preparación: @Model.TiempoPrep
        </div>
        <div class="form-group">
            Ingredientes @Model.Ingredientes
        </div>
        <div class="form-group">
            Etiquetas: @Model.Etiquetas
        </div>
        @foreach(var paso in Model.Pasos)
        {
            @:Paso @paso.NoPaso <br/>
            <table>
                <tr>
                    <td>@paso.Texto</td>
                    @if (paso.TiempoTemporizador != null)
                    {
                        <td>@paso.TiempoTemporizador</td>
                    }
                </tr>
            </table>
            <br/>
        }
    </div>
</div>

