@model Paginacion<Recetario.Areas.Administradores.Models.ActorDTO>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Usuarios</h1>

<p>
    <a asp-action="Agregar">Nuevo</a>
</p>
<form asp-action="index" method="get">
    Buscar: <input type="text" value="@ViewData["FiltroActual"]" name="cadenaBusqueda" />&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="submit" value="Buscar" class="btn btn-primary" />&nbsp;&nbsp;&nbsp;&nbsp;
    <a asp-action="Index">Ver todos</a>
    |
    <a asp-controller="Menus" asp-action="MenuSA"> Menú principal</a>
    <br />
    <br />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ToList()[0].NombreActor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToList()[0].FechaNac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToList()[0].Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToList()[0].Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreActor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaNac)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a asp-action="Detalles" asp-route-id="@item.IdActor">Detalles</a> |
                    <a asp-action="Eliminar" asp-route-id="@item.IdActor">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-noPagina="@(Model.PageIndex - 1)"
   asp-route-filtroActual="@ViewData["FiltroActual"]"
   class="btn btn-default @prevDisabled">
    Anterior
</a>
<a asp-action="Index"
   asp-route-noPagina="@(Model.PageIndex + 1)"
   asp-route-filtroActual="@ViewData["FiltroActual"]"
   class="btn btn-default @nextDisabled">
    Siguiente
</a>
